.footer{
    background-color: /*#3B3F54*/#333333;
    color:white;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    font-family:'Times New Roman', Times, serif;
     /*font-weight:bold;*/
    font-size:20px;
  }
  .Address{
    margin-left:10px;
    margin-top:40px;
  }
  .img-address{
    margin-left:80px;
    margin-bottom:30px;
  }
  .contact-info{
   margin:30px;
  }
  
  .para-contact{
    margin-bottom:15px;
    margin-left:-30px;
  }
  .para-foot{
    color:white;
    margin-left:-3px;
    margin-top:-30px;
    margin-bottom:10px;
    text-decoration:none;
  }
  .para-foot1{
    color:white;
    margin-left:-5;
    margin-top:-30px;
    margin-bottom:10px;
    text-decoration:none;

  }
  .image-contact{
    margin-left:-30px;
  }
  .no-under-line{
    text-decoration:none;
    color:white;
  
  
  }
  .quick{
    margin-bottom:7px;
    margin-left:-30px;
  }
